.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .candidate,
  .position {
    color:  #3b82f6;    
    font-size: 2rem;
  }
  
  .nameTitle,
  .positionTitle {
    color: rgba(59, 130, 246, 0.5); 
    font-size: 1.5rem;
  }
  
  .candidate, .nameTitle{
    margin-bottom: 0;
  }